<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iris.hamster.mapper.CooperativeMapper">

    <resultMap id="BaseResultMap" type="cn.iris.hamster.bean.pojo.Cooperative">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="CHAR"/>
        <result property="phone" column="phone" jdbcType="CHAR"/>
        <result property="address" column="address" jdbcType="CHAR"/>
        <result property="usci" column="USCI" jdbcType="CHAR"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,phone,
        address,USCI,create_by,
        create_time,update_by,update_time,
        remark
    </sql>

    <select id="monthlyNewCoCount" resultType="java.lang.Integer">
        select count(*)
        from cooperative
        where create_time between DATE_SUB(NOW(), INTERVAL 1 MONTH) AND NOW();
    </select>
</mapper>
