<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iris.hamster.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="cn.iris.hamster.bean.pojo.Permission">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="key" column="key" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="CHAR"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,p_key,status,create_by,create_time,update_by,update_time,remark
    </sql>

    <insert id="updateAdminR_P">
        INSERT INTO role_permission(rid, pid, `status`) VALUE ('1', #{pid}, '0')
    </insert>

    <update id="changeStatus">
        UPDATE role_permission
        SET `status` = #{status}
        WHERE pid = #{pid}
    </update>

    <select id="isKeyExist" resultType="java.lang.Integer">
        SELECT count(`id`)
        FROM `permission`
        WHERE `p_key` = #{key};
    </select>
</mapper>
