<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iris.hamster.mapper.SystemFieldMapper">

    <resultMap id="BaseResultMap" type="cn.iris.hamster.bean.entity.SystemField">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="CHAR"/>
        <result property="key" column="key" jdbcType="CHAR"/>
        <result property="type" column="type" jdbcType="CHAR"/>
        <result property="value" column="value" jdbcType="CHAR"/>
        <result property="status" column="status" jdbcType="CHAR"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,`name`,`key`,
        type,`value`,`status`,
        create_by,create_time,update_by,
        update_time,remark
    </sql>

    <select id="listByLimit" resultType="cn.iris.hamster.bean.vo.SystemFieldVo">
        select sf.id as id,
               sf.`name` as `name`,
               sf.`key` as `key`,
               sf.type as type,
               sf.str as str,
               sf.value as `value`,
               sf.status as `status`,
               u1.name as createBy,
               sf.create_time as createTime,
               sf.update_by as updateBy,
               sf.update_time as updateTime,
               remark
        from system_field sf
                 left join `user` u1 on sf.create_by = u1.id
                 left join `user` u2 on sf.update_by = u2.id
        <where>
            <if test="query.keyword != null and query.keyword != ''">
                and sf.name like concat('%', #{query.keyword},'%')
                or sf.key like concat('%', #{query.keyword},'%')
            </if>
            <if test='query.status == "0" or query.status == "1"'>
                and sf.status = #{query.status}
            </if>
        </where>
        order by sf.id
        limit #{start}, #{query.size}
    </select>

    <select id="getCountByLimit" resultType="java.lang.Integer">
        select count(*) from system_field
        <where>
            <if test="query.keyword != null and query.keyword != ''">
                and `name` like concat('%', #{query.keyword},'%')
                or `key` like concat('%', #{query.keyword},'%')
            </if>
            <if test='query.status == "0" or query.status == "1"'>
                and `status` = #{query.status}
            </if>
        </where>
    </select>
</mapper>
