<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iris.hamster.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="cn.iris.hamster.bean.pojo.User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="CHAR"/>
        <result property="idNo" column="ID_NO" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="CHAR"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,
        name,gender,ID_NO,
        phone,address,status,
        create_by,create_time,update_by,
        update_time
    </sql>

    <delete id="deleteU_R">
        DELETE
        FROM user_role
        WHERE uid = #{uid}
    </delete>

    <delete id="disbind">
        DELETE
        FROM co_user
        WHERE uid = #{uid}
    </delete>

    <insert id="insertU_R">
        INSERT INTO user_role(uid, rid, `status`) VALUE (#{uid}, #{rid}, #{status})
    </insert>

    <insert id="bind">
        INSERT INTO co_user(cid, uid) VALUE (#{cid}, #{uid})
    </insert>

    <select id="getPermsByUid" resultType="java.lang.String">
        SELECT p.`key`
        FROM permission p
                 LEFT JOIN role_permission rp on p.id = rp.pid
                 LEFT JOIN user_role ur ON ur.rid = rp.rid AND ur.uid = #{uid}
        WHERE p.status = ${@cn.iris.hamster.common.constants.CommonConstants@STATUS_ENABLE}
    </select>

    <select id="isbind" resultType="java.lang.Integer">
        SELECT count(*)
        FROM co_user
        WHERE uid = #{uid}
    </select>
    <select id="isUserBindCo" resultType="java.lang.Integer">
        SELECT count(*)
        FROM co_user
        WHERE uid = #{uid}
          AND cid = #{cid}
    </select>

    <select id="getCurUserCoId" resultType="java.lang.Long">
        SELECT cid
        FROM co_user
        WHERE uid = #{uid}
    </select>

    <select id="getMenuByUid" resultType="cn.iris.hamster.bean.pojo.Permission">
        SELECT p.id, p.name, p.icon, p.path, p.parent_id
        FROM user_role ur
                 LEFT JOIN role_permission rp on rp.rid = ur.rid
                 LEFT JOIN permission p on p.id = rp.pid
        WHERE ur.uid = #{uid}
          AND p.is_menu = ${@cn.iris.hamster.common.constants.CommonConstants@STATUS_ENABLE}
          AND p.status = ${@cn.iris.hamster.common.constants.CommonConstants@STATUS_ENABLE}
        ORDER BY p.parent_id
    </select>

    <select id="listByLimit" resultType="cn.iris.hamster.bean.vo.UserVo">
        SELECT DISTINCT u.id as id,
        u.username as username,
        u.name as `name`,
        u.gender as gender,
        u.ID_NO as idNo,
        u.phone as phone,
        u.address as address,
        u.status as `status`,
        u2.name as create_by,
        u.create_time as create_time,
        u3.name as update_by,
        u.update_time as update_time,
        IF(r.status = ${@cn.iris.hamster.common.constants.CommonConstants@STATUS_ENABLE}, r.name, '默认用户') as `role`
        FROM `user` u
        LEFT JOIN `user` u2 on u.create_by = u2.id
        LEFT JOIN `user` u3 on u.update_by = u3.id
        LEFT JOIN user_role ur on u.id = ur.uid
        LEFT JOIN `role` r on ur.rid = r.id
        <where>
            <if test='query.status == "0" or query.status == "1"'>
                AND u.`status` = #{query.status}
            </if>
            <if test="query.keyword != null and query.keyword != ''">
                AND u.`name` LIKE CONCAT('%', #{query.keyword}, '%')
                OR u.`username` LIKE CONCAT('%', #{query.keyword}, '%')
            </if>
            <if test='query.gender == "0" or query.gender == "1"'>
                AND u.gender = #{query.gender}
            </if>
            <if test="query.rid != null and query.rid != ''">
                AND ur.rid = #{query.rid}
            </if>
        </where>
        ORDER BY u.id
        LIMIT #{start}, #{query.size}
    </select>

    <select id="getCountByLimit" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM `user` u
        LEFT JOIN user_role ur on u.id = ur.uid
        LEFT JOIN `role` r on ur.rid = r.id
        <where>
            <if test='query.status == "0" or query.status == "1"'>
                AND u.`status` = #{query.status}
            </if>
            <if test="query.keyword != null and query.keyword != ''">
                AND u.`name` LIKE CONCAT('%', #{query.keyword}, '%')
                OR u.`username` LIKE CONCAT('%', #{query.keyword}, '%')
            </if>
            <if test='query.gender == "0" or query.gender == "1"'>
                AND u.gender = #{query.gender}
            </if>
            <if test="query.rid != null and query.rid != ''">
                AND ur.rid = #{query.rid}
            </if>
        </where>
    </select>

    <select id="getDriverSelectList" resultType="cn.iris.hamster.bean.pojo.User">
        SELECT u.id   as id,
               u.name as `name`
        FROM `user` u
        LEFT JOIN driver_user du on du.uid = u.id
                  and du.status = ${@cn.iris.hamster.common.constants.CommonConstants@STATUS_ENABLE}
        WHERE u.status = ${@cn.iris.hamster.common.constants.CommonConstants@STATUS_ENABLE}
    </select>
</mapper>
