<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iris.hamster.mapper.VehicleMapper">

    <resultMap id="BaseResultMap" type="cn.iris.hamster.bean.entity.Vehicle">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="plateNo" column="plate_no" jdbcType="CHAR"/>
            <result property="load" column="load" jdbcType="FLOAT"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="cooperative" column="cooperative" jdbcType="BIGINT"/>
            <result property="localWh" column="local_wh" jdbcType="BIGINT"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,plate_no,`load`,
        status,cooperative,local_wh,
        create_by,create_time,update_by,
        update_time,remark
    </sql>
</mapper>
