<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iris.hamster.mapper.WaybillMapper">

    <resultMap id="BaseResultMap" type="cn.iris.hamster.bean.pojo.Waybill">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="driverId" column="driver_id" jdbcType="BIGINT"/>
            <result property="vehicleId" column="vehicle_id" jdbcType="BIGINT"/>
            <result property="startWhId" column="start_wh_id" jdbcType="BIGINT"/>
            <result property="endWhId" column="end_wh_id" jdbcType="BIGINT"/>
            <result property="startKeeperId" column="start_keeper_id" jdbcType="BIGINT"/>
            <result property="endKeeperId" column="end_keeper_id" jdbcType="BIGINT"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,driver_id,vehicle_id,
        start_wh_id,end_wh_id,start_keeper_id,
        end_keeper_id,start_time,end_time
    </sql>
</mapper>
